body {
    width: 400px;
    min-height: 100%;
    height: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 400px;
    height: 450px;
    margin: 0 auto;
}
.bg-white {
    background-color: #fff;
}
.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.header-box {
    width: 160px;
    height: 60px;
    padding: 20,20,20,20;
    float: right;
    background-color: white;
}
.contents {
    width: 400px;
    height: 250px;
}
.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.right {
    width: 250px;
    height: 250px;
    float: right;
    background-color: #8c2727;
}
.right-box1 {
    width: 140px;
    height: 40px;
    border: 5px solid white;
    margin: 40px 60px 0 40px;
    background-color: #ff863f;
}
.right-box2 {
    width: 140px;
    height: 40px;
    border: 5px solid #fff;
    margin: 10px 60px 0 40px;
    background-color: #ff863f;
}







